*
  font-family: Roboto
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style-type: none
  font-weight: 400

.main-container
  display: flex
  padding: 20px

.block-container
  width: 85%
  &>section
    width: 100%
    min-height: 100px
    margin-top: 50px
    &:first-child
      margin-top: 0

.title
  display: flex
  align-items: center
  width: 100%
  &_line
    height: 1px
    background: #B7B7B7
    width: 100%
  &_caption
    width: 100%
    padding: 0 30px
    font-family: Nunito
    font-size: 47px
    text-align: center
    color: #000000


.skill>.title>.title_line
  width: 200%
.skill
  display: flex
  flex-direction: column
  &_container
    margin-top: 30px
    padding-left: 50px
    display: flex
    &_text
      margin-left: 100px
      &>li
        font-family: Nunito
        font-weight: bold
        font-size: 18px
        text-align: center
        text-transform: lowercase
        color: #000000
        margin-top: 40px
        &:first-child
          margin-top: 0
      &-o
        margin-left: 60px
    &_title
      &>li
        font-family: Nunito
        font-weight: bold
        font-size: 24px
        color: #2E2A22
        text-transform: uppercase
        margin-top: 30px
        &:first-child
          margin-top: 0
          
section.education
  margin-top: 100px          
.education
  &_container
    margin-top: 40px
    padding-left: 50px
    display: flex
    justify-content: space-between
    &>div
      &>h3       
        font-size: 32px
        font-weight: 400
      &>ul
        margin-top: 25px
        &>li
          display: flex
          align-items: flex-end
          margin-top: 15px
          &:first-child
            margin-top: 0
          &>h4
            margin-right: 30px
            font-family: Roboto
            font-weight: bold
            font-size: 16px
            color: #000000
          &>span
            color: #2E2A22
  &_language
    margin-top: 50px
    align-items: flex-end
    &>span
      font-family: Roboto
      font-weight: bold
      font-size: 54px
      color: #F5F5F5
   
