.experience>.title>.title_line
  width: 60%

section.experience
  margin-top: 100px

.experience
  margin-top: 80px
  &_work
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 50px
    margin-top: 20px
    &_content
      &-caption
        font-family: Nunito
        font-weight: bold
        font-size: 25px
        color: #2E2A22
      &>ul
        padding-left: 30px
        list-style-type: none
        border-left: 1px solid #E6E6E6
        &>li
          margin-top: 15px
          &:first-child
            margin-top: 20px
    &_date
      &-up
        text-align: left
      &-down
        text-align: right
      &>div
        font-family: Roboto
        font-weight: 900
        font-size: 110px
        color: #F9F9F9
